@font-face {
  font-family: "ruiyun"; /* Project id 2485911 */
  src: url('iconfont.woff2?t=1619744184990') format('woff2'),
       url('iconfont.woff?t=1619744184990') format('woff'),
       url('iconfont.ttf?t=1619744184990') format('truetype');
}

.ruiyun {
  font-family: "ruiyun" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbeian:before {
  content: "\e629";
}

.iconqianbao:before {
  content: "\e605";
}

.iconnongji:before {
  content: "\e673";
}

.iconshebei:before {
  content: "\e602";
}

.iconshouji:before {
  content: "\e615";
}

.iconmima:before {
  content: "\e668";
}

.iconkeshihuajiantou:before {
  content: "\e60d";
}

.iconshezhi:before {
  content: "\e60e";
}

.iconshanchu:before {
  content: "\e6b8";
}

.iconsaoma1:before {
  content: "\e601";
}

.iconzhangshangnongzhuang:before {
  content: "\e628";
}

.iconshouye:before {
  content: "\e627";
}

.iconnongyefuwu:before {
  content: "\e626";
}

.iconhezuoshe:before {
  content: "\e625";
}

.iconzanwushuju1:before {
  content: "\e623";
}

.iconxingzhuangjiehe:before {
  content: "\e607";
}

.iconzuzhi:before {
  content: "\e8df";
}

.iconzanwushuju:before {
  content: "\e833";
}

.iconSubsidy:before {
  content: "\e63a";
}

.iconmianji:before {
  content: "\e624";
}

.iconchangdu:before {
  content: "\e6ac";
}

.iconadd:before {
  content: "\e664";
}

.iconback:before {
  content: "\e666";
}

.iconshensongzuoye:before {
  content: "\e646";
}

.iconshouhuozuoye:before {
  content: "\e648";
}

.iconshifeizuoye:before {
  content: "\e65c";
}

.iconzuoye1:before {
  content: "\e66c";
}

.iconchayangji:before {
  content: "\e66f";
}

.iconpenyaozuoye:before {
  content: "\e65d";
}

.iconbianjietiaojian:before {
  content: "\e611";
}

.iconerweima:before {
  content: "\e616";
}

.iconbangding1:before {
  content: "\e619";
}

.iconjiebang1:before {
  content: "\e631";
}

.iconliebiao:before {
  content: "\e65b";
}

.iconruiyunzhangshangnongzhuanglogo-svg:before {
  content: "\e608";
}

.iconjiayouzhan:before {
  content: "\e604";
}

.iconduihao:before {
  content: "\e633";
}

.iconweixiu2:before {
  content: "\e66b";
}

.iconcanyin:before {
  content: "\e606";
}

.iconweirenzheng1:before {
  content: "\e6db";
}

.iconchazuo-:before {
  content: "\e60c";
}

.iconguanbi:before {
  content: "\e617";
}

.iconel-icon-edit-outline:before {
  content: "\e6a4";
}

.iconyirenzheng2:before {
  content: "\e61a";
}

.iconweibiaoti-1:before {
  content: "\e60b";
}

.iconashbin:before {
  content: "\e665";
}

.iconarrow-left-bold:before {
  content: "\e685";
}

.iconarrow-up-bold:before {
  content: "\e686";
}

.iconarrow-down-bold:before {
  content: "\e687";
}

.iconarrow-right-bold:before {
  content: "\e688";
}

.iconchart-bar:before {
  content: "\e667";
}

.iconyonghuguanli-01:before {
  content: "\e600";
}

.iconuser:before {
  content: "\e610";
}

.iconguiji:before {
  content: "\e62a";
}

.iconnongqihezuoshe:before {
  content: "\e60a";
}

.iconziyuanxiezhu_zhengqiyun:before {
  content: "\e861";
}

.iconzichan:before {
  content: "\e612";
}

.iconxindikuai:before {
  content: "\e603";
}

.iconwanggeyuan:before {
  content: "\e65a";
}

