@font-face {
  font-family: "iconfont"; /* Project id 3089517 */
  /* Color fonts */
  src: url("//at.alicdn.com/t/font_3089517_tfiluamxmoe.woff2?t=1654129339978")
      format("woff2"),
    url("//at.alicdn.com/t/font_3089517_tfiluamxmoe.woff?t=1654129339978")
      format("woff"),
    url("//at.alicdn.com/t/font_3089517_tfiluamxmoe.ttf?t=1654129339978")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon--zhunxin:before {
  content: "\e6db";
}

.el-icon--bianji:before {
  content: "\e625";
}

.el-icon--shezhi:before {
  content: "\e62a";
}

.el-icon--tianjiadingdan:before {
  content: "\e62e";
}

.el-icon--tianjianongtian:before {
  content: "\e62f";
}

.el-icon--xiangqing:before {
  content: "\e630";
}

.el-icon--dakuaidingdanbaitubiao:before {
  content: "\e61e";
}

.el-icon--dakuainongtianbaitubiao:before {
  content: "\e61f";
}

.el-icon--dakuaixuntianbaitubiao:before {
  content: "\e628";
}

.el-icon--dakuaiwentibaitubiao:before {
  content: "\e629";
}

.el-icon--daichuli-rizhi:before {
  content: "\e62b";
}

.el-icon--daichuli-dingdan:before {
  content: "\e62c";
}

.el-icon--daichuli-wenti:before {
  content: "\e62d";
}

.el-icon--guanliannongtian1:before {
  content: "\e627";
}

.el-icon--yuguchanliang:before {
  content: "\e624";
}

.el-icon--shishouchanliang:before {
  content: "\e626";
}

.el-icon--chulizhong:before {
  content: "\e623";
}

.el-icon--yifabu:before {
  content: "\e618";
}

.el-icon--yichuli:before {
  content: "\e619";
}

.el-icon--daifabu:before {
  content: "\e61a";
}

.el-icon--daichuli:before {
  content: "\e61b";
}

.el-icon--fabuwancheng:before {
  content: "\e621";
}

.el-icon--daishenhe:before {
  content: "\e622";
}

.el-icon--a-4leixing:before {
  content: "\e617";
}

.el-icon--nongtianmingcheng:before {
  content: "\e615";
}

.el-icon--nongtianxingzhi:before {
  content: "\e616";
}

.el-icon--quyu:before {
  content: "\e611";
}

.el-icon--zuowu:before {
  content: "\e612";
}

.el-icon--a-dizhi1:before {
  content: "\e613";
}

.el-icon--mianji2:before {
  content: "\e614";
}

.el-icon--dianhua:before {
  content: "\e60f";
}

.el-icon--bianhao:before {
  content: "\e610";
}

.el-icon--xuntianrizhi:before {
  content: "\e60b";
}

.el-icon--wentijilu:before {
  content: "\e60c";
}

.el-icon--zhuyetubiao:before {
  content: "\e60d";
}

.el-icon--zhongzhifangan:before {
  content: "\e60e";
}

.el-icon--nongtianguanlitubiao:before {
  content: "\e607";
}

.el-icon--kehuguanli:before {
  content: "\e608";
}

.el-icon--dingdan:before {
  content: "\e609";
}

.el-icon--a-shezhi:before {
  content: "\e60a";
}
