.upload-product{
  max-height:160px;
  min-height:60px;
  display:flex;
  flex-wrap:wrap;
  overflow-x: scroll;
  .img-father{
    width: 138px;
    height: 90px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    .product-p{
      color: white;
      width: 12px;
      height: 12px;
      font-size: 12px;
      border-radius: 50%;
      text-align: center;
      line-height:11px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      cursor: pointer;
      background-color: red;
    }
    .main-figure{
      width: 138px;
      height: 90px;
      color: white;
      font-size: 16px;
      text-align: center;
      line-height: 90px;
      transition: .6s;
      top: -90px;
      position: absolute;
      background:rgba(0,0,0,.6) ;
      span{
        cursor: pointer;
      }
    }
    .product-img{
      width: 138px;
      height: 90px;
    }
    &:hover .main-figure{
      top: 0;
      left: 0;
    }
  }
  .product-item{
    width: 138px;
    height: 90px;
    margin: 3px;
    border: #2B6F0B 1px solid;
    background-color:#F3F6F2;
    .item-button{
      width:24px;
      height:24px;
      border-radius: 50%;
      font-size:20px;
      text-align: center;
      cursor: pointer;
      line-height: 24px;
      border: 0;
      color: white;
      margin:33px 57px;
      background-color: #adc7a0;
    }
  }
}
.upload-file{
  max-height:500px;
  min-height:66px;
}
.meterage{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
